
    <!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row" style ="height: 75vh; min-height: 500px; text-shadow:-3px -3px 0 #000000, 3px -3px 0 #000000,-3px 3px 0 #000000, 3px 3px 0 #000000; background-color: rgba(95, 100, 100, 0.3)">
          <div class="col-lg-12  align-self-center">
            <h1 class="display-3 text-center text-white mt-4"><strong> .. Recipe Book .. </strong></h1>
          </div>
        </div>
      </div>
    </header>


    <%= form_tag recipes_search_path, method: :post, remote: false do %> 
          <p> Category
            <%= select_tag "category_name", options_for_select(Category.distinct.pluck(:name,:name))%>
          <%= submit_tag "Search", name: nil, class:"btn btn-primary" %> </p>
        <% end %>





<div class = "container">

<h1 class="mt-5 mb-5"><em> Browse Recipes </em> </h1>
<div class ="row">

  <div class="col">

   <% @recipes.in_groups_of(2,false).each do|group| %> 

        <div class="row">

            <%group.each do|recipe|%>

              <div class="card  w-50" style = " padding: 2%">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <%if recipe.recipe_images.present?%>
                  <%= image_tag recipe.recipe_images[0].url, class:"img-thumbnail mb-3" %>
                <%end%>
          

              
                <div class="card-body" >
                  <h5 class="card-title"><strong> <%= link_to recipe.title,recipe_path(recipe)%></strong></h5>

                  
               
                  <p><small class="text-muted"><strong>Posted by: </strong><%=recipe.user.email%></small></p>
                  <p class= "card-text"> <strong> Category: </strong> </p>
                  <ul>
                     <%recipe.categories.each do |category| %>
                       <li><%= category.name %></li>
                      <%end%>
                  </ul>

                  <p class= "card-text"> <strong> Duration: </strong> <%=recipe.prep_time_minutes%> Minutes </p>
                  <p class= "card-text"> <strong> Description:</strong> <%=recipe.description%> </p>
                  <hr>
                  <div style= "text-align: center">
                    <br/>
                    <%= button_to "view", recipe_path(recipe), :class=>"btn btn-info",:method => "get"%>
                  </div>
                </div>
              </div>
            <%end%>    
        </div>
      
      <%end%> 
  </div>
</div>


</div>