
<div class = "container">
  <br/>
  <h2> Recipes </h2>



<div class="column">
 <% @recipes.in_groups_of(2,false).each do|group| %> 

      <div class="row">

          <%group.each do|recipe|%>

            <div class="card  w-50" style = " padding: 2%">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <%#if listing.listing_images.present?%>
                <%#= image_tag listing.listing_images[0].url, class:"img-thumbnail mb-3" %>
              <%#end%>
        

            
              <div class="card-body" >
                <h5 class="card-title"><strong> <%= link_to recipe.title,recipe_path(recipe)%></strong></h5>

                
             
                <p><small class="text-muted"><strong>Posted by: </strong><%=recipe.user.email%></small></p>
                <p class= "card-text"> <strong> Category </strong> <%=recipe.categories.name%> </p>
                <p class= "card-text"> <strong> Duration: </strong> <%=recipe.prep_time_minutes%> </p>
                <p class= "card-text"> <strong> Description:</strong> <%=recipe.description%> </p>
                <hr>
                <div style= "text-align: center">
                  <br/>
                  <%= button_to "view", recipe_path(recipe), :class=>"btn btn-info",:method => "get"%>
                </div>
              </div>
            </div>
          <%end%>    
      </div>
    
    <%end%> 
</div>



</div>