<div class = "wrapper">
  <div class="container">

    <h1> <%=@recipe.title%></h1>
     <p> Submitted by: <%=@recipe.user.email%></p>  
    <p> <h5> Ingredients: </h5> <%=@recipe.ingredients%></p>  
    <p> <h5> Preperation Time: </h5> <%=@recipe.prep_time_minutes%> Minutes</p>
    <p> <h5> Description: </h5> <%=@recipe.description%></p> 

   </div>
</div>


