<div class = "wrapper">
  <div class="container">

    <h1> <%=@recipe.title%></h1>
   

<div class ="container" style= "display:block;
     max-width: 75%;">
  <div id="carouselImages" class="carousel slide"  data-ride="carousel"  >
  <ol class="carousel-indicators">
    <li data-target="#carouselImages" data-slide-to="0" class="active"></li>
    <li data-target="#carouselImages" data-slide-to="1"></li>
    <li data-target="#carouselImages" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <% @recipe.recipe_images.each do |image| %>
       <div class="carousel-item <%= 'active' if image == @recipe.recipe_images[0] %>" >
          <%= image_tag image.url.to_s, class:"d-block w-100"%>
      </div>
    <%end%>

  </div>
  <a class="carousel-control-prev" href="#carouselImages" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselImages" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>


    <h5> Categories: </h5>
    <%@recipe.categories.each do |category| %>
    <%= category.name %>
    <%end%>

    <p> Submitted by: <%=@recipe.user.email%></p>  
    <% if current_user.admin? %>
      <% if @recipe.verified? %>
        <p  style="color: green"><strong>Verification Status: </strong> Verified.</p>
      <%else%>
        <p  style="color: red"><strong>Verification Status: </strong> Unverified.</p>
      <%end%>
    <%end%>




    <p> <h5> Ingredients: </h5> <%=@recipe.ingredients%></p>  
    <p> <h5> Preperation Time: </h5> <%=@recipe.prep_time_minutes%> Minutes</p>
    <p> <h5> Description: </h5> <%=@recipe.description%></p> 
  <hr>

  <% if (@recipe.user == current_user ) || (current_user.admin?) %>
  <div class="btn-toolbar mb-5" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">

      <%=link_to "Edit Recipe", edit_recipe_path(@recipe), :class=>"btn btn-info",:method => "get"%>

      <%=link_to 'Delete Recipe', recipe_path(@recipe), :class=>"btn btn-danger",
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
  <%end%>
      <% if current_user.admin? %>
          <%=link_to 'Verfiy Recipe', verify_recipe_path(@recipe), :class=>"btn btn-success ",
              method: :put %>

          <%=link_to 'Unverfiy Recipe', unverify_recipe_path(@recipe), :class=>"btn btn-warning",
              method: :put %>
      <%end%>

    </div>
  </div>


      <%= form_tag(get_ingredients_recipe_path(@recipe), method: "put") do %>
        <%= label_tag(:number, "Send ingredients to phone number") %>
        <%= text_field_tag(:number) %>
        <%= submit_tag("Submit Number", :class => "btn btn-warning") %>
      <% end %>




  <hr>


   <h5> Comments: </h5>
<div class ="container">
   <% @recipe.comments.each do |comment| %>
     <div class = "row border">
        <div class = "col-sm-2">
          <p><small>Posted by: <%=comment.user.email%></small></p>
        </div>

        <div class ="col">
          <p><small><%=comment.created_at.to_s(:short)%></small></p>
          <p><%=comment.description%></p>
        </div>

     </div>
   <%end%>
</div>


  <%= form_for [@recipe, Comment.new]  do |form|%>
    <%= form.text_area :description, class: 'form-control', size: '20x3'%>
    <%= form.submit"Submit a commet", class: "btn btn-primary mt-2" %>
  <%end%>


  </div>

</div>




